Dictionary
-

In [2]:
var1={
    'name':'Ravi',
    123 : 198902,
    'bool' : True,
    45 : 89.87,
    (2,3):[1,2,3]
}
print(var1)

{'name': 'Ravi', 123: 198902, 'bool': True, 45: 89.87, (2, 3): [1, 2, 3]}

In [6]:
print(var1.keys())
print(var1.values())
print(var1.items())

dict_keys(['name', 123, 'bool', 45, (2, 3)])
dict_values(['Ravi', 198902, True, 89.87, [1, 2, 3]])
dict_items([('name', 'Ravi'), (123, 198902), ('bool', True), (45, 89.87), ((2, 3), [1, 2, 3])])

In [7]:
var1['date']='18-08-2024'

In [24]:
print(var1)

{123: 198902, 'bool': True, 45: 89.87, (2, 3): [1, 2, 3], 'date': '18-08-2024'}

Duplicates not Allowed
-
Update() Method
-

In [12]:
var2={'name':'Henil','Name':'Jeel','age':20}
var1.update(var2)

In [13]:
print(var1)

{'name': 'Henil', 123: 198902, 'bool': True, 45: 89.87, (2, 3): [1, 2, 3], 'date': '18-08-2024', 'age': 20, 'Name': 'Jeel'}

popitem() method
-

In [14]:
var1.popitem()

('Name', 'Jeel')

pop() method
-

In [19]:
var1.pop('age')

20

In [20]:
print(var1)

{123: 198902, 'bool': True, 45: 89.87, (2, 3): [1, 2, 3], 'date': '18-08-2024'}

membership Operator in dictionary
-

In [21]:
123 in var1

True

In [22]:
12354 not in var1

True

In [23]:
True in var1

False

In [25]:
var1={'name': 'Ravi', 123: 198902, 'bool': True, 45: 89.87, (2, 3): [1, 2, 3], 'date': '18-08-2024'}

In [27]:
print(var1['date'])

18-08-2024

In [28]:
print(var1['city'])

KeyError: 'city'

In [33]:
var1.get('city','not found')

'not found'

In [30]:
print(var1)

{'name': 'Ravi', 123: 198902, 'bool': True, 45: 89.87, (2, 3): [1, 2, 3], 'date': '18-08-2024'}

In [34]:
list1=[10,20,30,40,50]

In [35]:
for i in list1:
    print(i)

10
20
30
40
50

In [36]:
for i in var1.items():
    print(i)

('name', 'Ravi')
(123, 198902)
('bool', True)
(45, 89.87)
((2, 3), [1, 2, 3])
('date', '18-08-2024')

In [37]:
for i in var1.keys():
    print(i)

name
123
bool
45
(2, 3)
date

In [38]:
for i in var1.values():
    print(i)

Ravi
198902
True
89.87
[1, 2, 3]
18-08-2024

In [46]:
for i,j in var1.items():
    print(f"key:{i} values:{j}")

key:name values:Ravi
key:123 values:198902
key:bool values:True
key:45 values:89.87
key:(2, 3) values:[1, 2, 3]
key:date values:18-08-2024

Dictionary Comprehenssion
-

In [47]:
square_numbers={i: i**2 for i in range(1,11)}

In [50]:
square_numbers.items()

dict_items([(1, 1), (2, 4), (3, 9), (4, 16), (5, 25), (6, 36), (7, 49), (8, 64), (9, 81), (10, 100)])

In [51]:
for i in square_numbers.items():
    print(f"key : {i[0]} values :{i[1]}")

key : 1 values :1
key : 2 values :4
key : 3 values :9
key : 4 values :16
key : 5 values :25
key : 6 values :36
key : 7 values :49
key : 8 values :64
key : 9 values :81
key : 10 values :100

In [58]:
{i: i**2 if i%5==0 else i for i in range(1,20)}

{1: 1,
 2: 2,
 3: 3,
 4: 4,
 5: 25,
 6: 6,
 7: 7,
 8: 8,
 9: 9,
 10: 100,
 11: 11,
 12: 12,
 13: 13,
 14: 14,
 15: 225,
 16: 16,
 17: 17,
 18: 18,
 19: 19}

In [57]:
{i: i**2 for i in range(1,20) if i%5==0}

{5: 25, 10: 100, 15: 225}

In [61]:
{i: 'even' if i%2==0 else 'odd' for i in range(1,11)}

{1: 'odd',
 2: 'even',
 3: 'odd',
 4: 'even',
 5: 'odd',
 6: 'even',
 7: 'odd',
 8: 'even',
 9: 'odd',
 10: 'even'}

In [71]:
list1=["one","two","two","twenty-three","four","five",1,25,26]
list1.sort()

TypeError: '<' not supported between instances of 'int' and 'str'

In [69]:
print(list1)

['five', 'four', 'one', 'twenty-three', 'two', 'two']

In [65]:
list2=['1','2','20','3']

In [66]:
list2.sort()

In [67]:
print(list2)

['1', '2', '20', '3']

Mixed up Dictionary 
-

In [85]:
my_dict = { 'Name' : 'Ravi',
           'Last Name' : ['Patel'],
           123 : [7878, 9898, 8490],
           'Education' : ['BCA', ('Diploma', 'BE'), [('Diploma', 'BE', ['MBA', 'Finace'])]],
           'details' : {
               'Name' : [('Reha', 'Limabsiya'), ('Nidhi', 'Nayak'), ['Darshan', 'Patel']],
               'details' : {'Reha' : 'Digital Marketing',
                           'Nidhi' : 'Lecture',
                            'Darshan' : 'DJ'
                           }
           }
}

In [112]:
[i[1] if len(i) > 4 else i for i in my_dict['details']['details'].values()]

['i', 'e', 'DJ']

In [107]:
my_dict['details']['details']['Reha'][2::2]

'gtlMreig'

In [93]:
print(my_dict.get('details',"not found"))

{'Name': [('Reha', 'Limabsiya'), ('Nidhi', 'Nayak'), ['Darshan', 'Patel']], 'details': {'Reha': 'Digital Marketing', 'Nidhi': 'Lecture', 'Darshan': 'DJ'}}

In [95]:
my_dict['details']['details']

{'Reha': 'Digital Marketing', 'Nidhi': 'Lecture', 'Darshan': 'DJ'}

In [76]:
my_dict.keys()

dict_keys(['Name', 'Last Name', 123, 'Education', 'deatils'])

In [75]:
my_dict.values()

dict_values(['Ravi', ['Patel'], [7878, 9898, 8490], ['BCA', ('Diploma', 'BE'), [('Diploma', 'BE', ['MBA', 'Finace'])]], {'Name': [('Reha', 'Limabsiya'), ('Nidhi', 'Nayak'), ['Darshan', 'Patel']], 'details': {'Reha': 'Digital Marketing', 'Nidhi': 'Lecture', 'Darshan': 'DJ'}}])

In [77]:
my_dict.items()

dict_items([('Name', 'Ravi'), ('Last Name', ['Patel']), (123, [7878, 9898, 8490]), ('Education', ['BCA', ('Diploma', 'BE'), [('Diploma', 'BE', ['MBA', 'Finace'])]]), ('deatils', {'Name': [('Reha', 'Limabsiya'), ('Nidhi', 'Nayak'), ['Darshan', 'Patel']], 'details': {'Reha': 'Digital Marketing', 'Nidhi': 'Lecture', 'Darshan': 'DJ'}})])