How to print statements in python......

In [ ]:
print("Hello World")
print("This is my first python program...")
print(50)
print(25.99)

Hello World
This is my first python program....
50
25.99

 Variable :
 A Variable is a name given to a memory location in a program......

In [3]:
name="Ravi avaiya"
age=22
price=99.99
old=False
a = None
school='ravi avaiya'

print(name)
print(age)
print(price)

print(school)

print("my name is : ",name,"And my age is :",age)

Ravi avaiya
22
99.99
ravi avaiya
my name is :  Ravi avaiya And my age is : 22

How to know Datatypes of Variable

In [4]:
print(type(name))
print(type(age))
print(type(price))
print(type(old))
print(type(a))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>
<class 'NoneType'>

#print sum of two variables

In [5]:
num1=100
num2=200
sum=num1+num2
print("Sum of Two Variables : ",sum)

Sum of Two Variables :  300

# Types of Operators 
    # Arithmatic Operators : ( + , - , * , / , % , ** )

In [2]:
a1=100
a2=400
print("Sum of ",a1+a2)
print("Subtract of ",a1-a2)
print("Multy of ",a1*a2)
print("Division of ",a1/a2)
ab=5
cd=3
print(ab**cd)

Sum of  500
Subtract of  -300
Multy of  40000
Division of  0.25
125

Relational Operators / Comparison Operators ( == , != , > , < , <= , >=)

In [7]:
value1=200
value2=300

print(value1 == value2)
print(value1 != value2)
print(value1 > value2)
print(value1 >= value2)
print(value1 < value2)
print(value1 <= value2)

False
True
False
False
True
True

Assignment Operators ( = , += , -= , *= , /= , %= , **= )

In [16]:
num=10
# num+=10 # Addition
# num-=10 # Subtraction
# num*=3 # Multiplication
# num /= 5 # Division
num **= 5 # Power of num 
print(num)

100000

Logical Operators ( not , and , or )

In [29]:
# not operator
print(not False)
print(not True)

# and operator
#  Become True When Both Value Are True
val1=50
val2=30
print("and  operator :", val1 == val2 and val2)

# or operator
print("or  operator :", (val1 == val2) or (val1> val2))

True
False
and  operator : False
or  operator : True

Type Conversion ( automatically)

Type Casting ( manually )

In [34]:
a11=2
b11=4.25

# Type conversion 
sum1=a11+b11  # 2.0 + 4.25 = 6.25 
print(sum1)

# Type Casting
a12=int("2")
b12=4.25
print(type(a12))

sum12=a11+b11  # 2.0 + 4.25 = 6.25 
print(sum12)

6.25
<class 'int'>
6.25

Input in Python

input() statement is used to accept values (using keyboard) from user

input() # result for input() is always a str

int(input()) # int

float(input()) # float

In [41]:
# age =input("Enter your age : ")
# age =int(input("Enter your age : "))
age =float(input("Enter your age : "))
print("your age ",age)
type(age)

your age  852.0

float