SET in Python
-

In [6]:
list1=[1,2,2,3,4,1]

In [2]:
list3=set(list1)

In [3]:
print(list3)

{1, 2, 3, 4}

In [4]:
list4=list(list3)

In [5]:
print(list4)

[1, 2, 3, 4]

Intersection ()

In [7]:
set1={1,2,3,4,5}

add()
-

In [8]:
set1.add(6)

In [9]:
print(set1)

{1, 2, 3, 4, 5, 6}

update()
-

In [10]:
set2={5,6,7,8}
set1.update(set2)

In [11]:
print(set1)

{1, 2, 3, 4, 5, 6, 7, 8}

remove()

In [12]:
set1.remove(8)

In [13]:
print(set1)

{1, 2, 3, 4, 5, 6, 7}

pop()

In [17]:
set1.pop()

2

In [18]:
print(set1)

{3, 4, 5, 6, 7}

Uniun |
-

In [19]:
a={1,2,3}
b={3,4,5}

In [24]:
# a.union(b)
a|b

{1, 2, 3, 4, 5}

intersection &
-

In [25]:
# a.intersection(b)
a&b

{3}

In [22]:
b.intersection(a)

{3}

Difference -
-

In [26]:
a-b

{1, 2}

Swap the value of string

In [27]:
a="abc"
b="abcd"