Tuple In Python
-------------------------------------------------------------------------------

In [27]:

mytuple=("BIA","PYTHON","Langauge",40,89.6,True,("BIA","PYTHON","Langauge",52,89.6,True),[1,52,25,6])

mytuple[-1][3] = 100
print(mytuple)

('BIA', 'PYTHON', 'Langauge', 40, 89.6, True, ('BIA', 'PYTHON', 'Langauge', 52, 89.6, True), [1, 52, 25, 100])

In [29]:

mytuple=("BIA","PYTHON","Langauge",40,89.6,True,("BIA","PYTHON","Langauge",52,89.6,True),[1,52,25,6])

Tuple

Tuples are used to store multiple items in a single variable.

Tuple is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Set, and Dictionary, all with different qualities and usage.

A tuple is a collection which is ordered and unchangeable.

Tuples are written with round brackets.

Example :

create a Tuple :

In [2]:
thistuple = ("apple","banana","cherry")
print(thistuple)

('apple', 'banana', 'cherry')

Tuple Items

Tuple items are ordered, unchangeable, and allow duplicate values.

Tuple items are indexed, the first item has index [0], the second item has index [1] etc.

Ordered
-------------------------------------------------------------------------------

Unchangeable
-
meaning that we cannot change, add or remove items after the tuple has been created.

Allow Duplicates
-

example :

Tuple aloow duplicate values :

In [30]:
thistuple=("apple","banana","cherry","apple","cherry")
print(thistuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')

Tuple Length
-

In [4]:
thistuple=("apple","Banana","cherry")
print(len(thistuple))

3

Create Tuple With One Item
-
To create a tuple with only one item, you have to add a comma after the item, otherwise Python will not recognize it as a tuple.

One item tuple, remember the comma:
-

In [6]:
thistuple=("apple",)
print(type(thistuple))

<class 'tuple'>

#NOT a tuple

In [7]:
thistuple=("apple")
print(type(thistuple))

<class 'str'>

Tuple Items - Data Types
-
String, int and boolean data types

In [9]:
tuple1=("apple","banana","cherry")
tuple2=(1,23,54,890)
tuple3=(True,False,True)

A tuple can contain different data types:
-
A tuple with strings, integers and boolean values:

In [10]:
tuple1 = ("abc", 34, True, 40, "male")
print(tuple1)

('abc', 34, True, 40, 'male')

The tuple() Constructor
-

In [11]:
thistuple = tuple(("apple", "banana", "cherry")) # note the double round-brackets
print(thistuple)

('apple', 'banana', 'cherry')

Access Tuple Items Using [ ]
-
You can access tuple items by referring to the index number, inside square brackets:

In [12]:
thistuple=("apple","banana","cherry")
print(thistuple[1])

banana

The first item has index 0.
-

Negative Indexing
-
-1 refers to the last item, -2 refers to the second last item etc.

In [13]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[-1])

cherry

Range of Indexes
-

Return the third, fourth, and fifth item:

In [14]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

('cherry', 'orange', 'kiwi')

This example returns the items from the beginning to, but NOT included, "kiwi":

In [15]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[:4])

('apple', 'banana', 'cherry', 'orange')

Range of Negative Indexes
-

In [16]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[-4:-1])

('orange', 'kiwi', 'melon')

Check if Item Exists
-
To determine if a specified item is present in a tuple use the in keyword:

In [18]:
thistuple=("apple","banana","cherry")
if "apple" in thistuple:
    print("Yes, Apple is in fruits tuple.")

Yes, Apple is in fruits tuple.

 Update Tuples
 -
 Tuples are unchangeable, meaning that you cannot change, add, or remove items once the tuple is created.

Change Tuple Values
-
Once a tuple is created, you cannot change its values. Tuples are unchangeable, or immutable as it also is called.

But there is a workaround. You can convert the tuple into a list, 
-
change the list, and convert the list back into a tuple.
-

In [22]:
# Create a Tuple 
tuple1=("apple","banana","cherry")
# convert in to list
list1=list(tuple1)
# Modify Index [1] in list1
list1[1]= "kiwi"
# Convert in to Tuple Again
tuple1 = tuple(list1)

print(tuple1)

('apple', 'kiwi', 'cherry')

In [14]:
tuple1=("BIA","PYTHON","Langauge",52,89.6,True)
mylist=list(tuple1)

Add Items

They do not have a built-in append() method, but there are other ways to add items to a tuple.
-

In [24]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)
print(thistuple)

('apple', 'banana', 'cherry', 'orange')

Add tuple to a tuple.
-
Create a new tuple with the value "orange", and add that tuple:

In [25]:
thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple += y

print(thistuple)

('apple', 'banana', 'cherry', 'orange')

Remove Items
-
You Cannot remove items in a tuple.

you can use the same workaround as we used for changing and adding tuple items:
-

In [27]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)
print(thistuple)

('banana', 'cherry')

you can delete the tuple completely:
-

In [28]:
thistuple = ("apple", "banana", "cherry")
del thistuple
print(thistuple) #this will raise an error because the tuple no longer exists

NameError: name 'thistuple' is not defined

Packing a tuple
-

When we create a tuple, we normally assign values to it. This is called "packing" a tuple:

Packing a tuple:

In [29]:
fruits = ("apple", "banana", "cherry")

unpacking a tuple
-

in Python, we are also allowed to extract the values back into variables. This is called "unpacking":

In [31]:
fruits=("apple","banana","cherry")

(green, yelloe, red) = fruits


print(green)
print(yelloe)
print(red)

apple
banana
cherry

Using Asterisk *
-
If the number of variables is less than the number of values, you can add an * to the variable name and the values will be assigned to the variable as a list:

In [32]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")
(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

If the asterisk is added to another variable name than the last, Python will assign values to the variable until the number of values left matches the number of variables left.

In [34]:
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")
(green, *blue, red) = fruits

print(green)
print(blue)
print(red)

apple
['mango', 'papaya', 'pineapple']
cherry

Loop Tuples
-
You can loop through the tuple items by using a for loop.

In [35]:
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
  print(x)

apple
banana
cherry

Loop Through the Index Numbers
-
You can also loop through the tuple items by referring to their index number.

Use the range() and len() functions to create a suitable iterable.

In [37]:
from operator import le


thistuple=("apple","banana","cherry","mango")
for i in range(len(thistuple)):
    print(thistuple[i])
    print(i)

apple
0
banana
1
cherry
2
mango
3

Using a While Loop
-
You can loop through the tuple items by using a while loop.

Use the len() function to determine the length of the tuple, then start at 0 and loop your way through the tuple items by referring to their indexes.

In [38]:
thistuple = ("apple", "banana", "cherry")
i = 0
while i < len(thistuple):
  print(thistuple[i])
  i = i + 1

apple
banana
cherry

Join Tuples
-

Join Two Tuples

To join two or more tuples you can use the + operator:

In [40]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3= tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

Multiply Tuples
-

In [45]:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

Tuple Methods
-
---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

Count()
-
Returns the number of times a specified value occurs in a tuple

Syntax

tuple.count(value)

In [46]:
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

x = thistuple.count(5)

print(x)

2

index()
-
Searches the tuple for a specified value and returns the position of where it was found

Syntax

tuple.index(value)

In [47]:
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

x = thistuple.index(8)

print(x)

3